<h3 style="text-align:left">Frequently Asked Questions</h3>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <p>
	Q1. What are the operating hours of library? <br>
        Answer: Please visit the Hours section or Ask Us<br>
      </p>
    </section>
  </aside>
</div>
