<h3 style="text-align:left">Operating Hours</h3>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
	Monday to Friday: 24 hours <br>
        Saturday        : 6am to 3am <br>
        Sunday          : 8am to 3am <br>
      </h1>
    </section>
  </aside>
</div>
